@charset "UTF-8";
/* Body */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #262626;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
}

/* Links */
a:link {
    color: #9FB59E;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #9FB59E;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #5A735B;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #F1F2F2;
    background-color: transparent;
    text-decoration: underline;
}


/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #262626;
}


/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #262626;
	border-bottom: 1px solid #F1F2F2;
}
.logo {
	color: #F1F2F2;
	font-weight: 800;
	text-align: center;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 70%;
	text-align: right;
	margin-right: 25px;

}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #F1F2F2;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #5A735B;
	text-decoration: none;
}
ul li:hover a {
	color: #F1F2F2;
}
.hero_header {
	color: #F1F2F2;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}


/* Hero Section */
.hero {
	background-color: #262626;
	background-image: url("assets/greenhaus.png");
	weight: 800;
	padding-top: 150px;
	padding-bottom: 150px;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.light {
	font-weight: bold;
	color: #262626;
}
.tagline {
	text-align: center;
	color: #9FB59E;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/* About Section */
.text_column {
	width: auto;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	padding-left: 15%;
	padding-right: 15%;
	color: #F1F2F2;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	background-color: #262626;
}
.about h2{
	text-align: center;
	color: #5A735B;
	letter-spacing: 5px;
	font-weight: 800;
}


/* Prices Gallery */
.stats {
	color: #9FB59E;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #262626;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #445745;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #9FB59E;
}


/* With Who? Section */
.withwho h2 {
	color: #F1F2F2;
	text-align: left;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-left: 40px;
	font-weight: 800;
}
.withwho p {
	color: #F1F2F2;
	text-align: left;
	width: 100%;
	font-weight: 600;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
}
.withwho {
	background-color: #262626;
	background-image: url("assets/greenhaus.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Art */
footer {
	background-color: #262626;
	padding-bottom: 35px;
}
.artblock {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #262626;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail2 {
	width: 48%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding: 1%;
}
.footer_column {
	width: 50%;
	text-align: center;
	align-content: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #F1F2F2;
	text-align: center;
}
footer .footer_column p {
	color: #F1F2F2;
	background-color: #262626;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 150px;
	max-height: 150px;
	padding: 20px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;

}
.twitter {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 7%;
	padding-top: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #F1F2F2;
	color: #F1F2F2;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #F1F2F2;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #262626;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	width: 100%;
	background-color: #262626;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}



/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		position: static;
	}
	header nav ul {
		padding: 0px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.text_column {
		width: 100%;
		text-align: justify;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}
	.thumbnail2 {
		width: 98%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.withwho h2 {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}
	.withwho p {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 90%;
		margin-top: 25px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 12px;
		float: none;
		text-align: center;
	}
	.withwho {
		height: 450px;
		background-color: #262626;
		background-image: url("assets/hero02.png");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.tagline {
		margin-top: 20px;
		line-height: 22px;
	}
	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
	.hero {
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #F1F2F2;
	}
	.hero {
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 5%;
		margin-left: 0px;
		width: 100%;
		background: #262626;
	}
	header nav ul {
		padding: 0px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.text_column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}
	.thumbnail2 {
		width: 98%;
	}
	.withwho h2 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-top: 20%;
	}
	.withwho p {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		padding-top: 30px;
	}
	.withwho {
		padding-left: 20px;
		padding-right: 20px;
		height: 450px;
		background-color: #262626;
		background-image: url("assets/greenhaus.png");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.footer_column {
		width: 100%;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.text_column {
		width: 100%;
	}
	.thumbnail {
		width: 50%;
	}
	.thumbnail2 {
		width: 98%;
	}
	.text_column {
		width: 100%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.withwho {
		margin-top: 0px;
		padding-top: 0px;
		height: 450px;
		background-color: #262626;
		background-image: url("assets/greenhaus.png");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.hero {
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
