@charset "UTF-8";
/* ----------------------------- Body ----------------------------- */
	body {
		font-family: 'Open Sans', sans-serif;
		background-color: #262626;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		font-style: normal;
	}
	p {
		width: auto;
		text-align: justify;
		font-weight: lighter;
		line-height: 20px;
		padding-left: 15%;
		padding-right: 15%;
		color: #F1F2F2;
}

/* ----------------------------- Navigation ----------------------------- */
	header {
		width: 100%;
		height: 5%;
		background-color: #262626;
		border-bottom: 1px solid #F1F2F2;
	}
	header h4 {
		color: #F1F2F2;
		font-weight: 800;
		text-align: center;
		width: 10%;
		float: left;
		margin-top: 15px;
		margin-left: 25px;
		letter-spacing: 4px;
	}
	header nav {
		float: right;
		width: 70%;
		text-align: right;
		margin-right: 25px;
	}
	header nav ul {
		list-style: none;
		float: right;
	}
	header nav ul li {
		float: left;
		color: #F1F2F2;
		font-size: 14px;
		text-align: left;
		margin-right: 25px;
		letter-spacing: 2px;
		font-weight: bold;
		transition: all 0.3s linear;
}

/* ----------------------------- Links ----------------------------- */
	a:link {
		color: #9FB59E;
		background-color: transparent;
		text-decoration: none;
	}
	a:visited {
		color: #9FB59E;
		background-color: transparent;
		text-decoration: none;
	}
	a:hover {
		color: #CCCC70;
		background-color: transparent;
		text-decoration: underline;
	}
	a:active {
		color: #F1F2F2;
		background-color: transparent;
		text-decoration: underline;
}

/* ----------------------------- Hero Section ----------------------------- */
	.hero {
		background-color: #262626;
		background-image: url("assets2/hero.png");
		padding-top: 150px;
		padding-bottom: 150px;
		background-size: 100%;
		background-repeat: repeat-y;
		background-attachment: fixed;
		clear: both;
	}
	.hero h2 {
		color: #9FB59E;
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		letter-spacing: 4px;
	}
	.hero .light {
		color: #CCCC70;
}

/* ----------------------------- Art Section ----------------------------- */
	.art {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
	.thumbnail {
		width: 50%;
	}

/* ----------------------------- About Section ----------------------------- */
	.about {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		background-color: #262626;
	}
	.portrait {
		display: block;
		margin-left: auto;
		margin-right: auto;
}

/* ----------------------------- Form ----------------------------- */
	.form {
		background-image: url("assets2/hero.png");
		background-repeat: repeat-y;
		background-size: 100%;
	}
	form iframe {
		display: block;
		background-size: contain;
		margin-left: auto;
		margin-right: auto;
}

/* ----------------------------- Footer ----------------------------- */
	.copyright {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #262626;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: lighter;
		letter-spacing: 2px;
		border-top-width: 2px;
		clear: both;
}

/* ----------------------------- Other ----------------------------- */
	.hidden {
		display: none;
}


/* --------------------------- Responsive --------------------------- */

/* ----------------------------- Mobile ----------------------------- */

	@media (max-width: 320px) {
		.thumbnail {
			width: 100%;
		}
		header nav {
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			width: 100%;
			position: static;
		}
		header nav ul {
			padding: 0px;
			float: none;
		}
		header nav ul li {
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			width: 100%;
			text-align: center;
		}
		header h4 {
			width: 100%;
			margin-left: 0px;
		}
}

/* ----------------------------- Small Tablets ----------------------------- */
	@media (min-width: 321px)and (max-width: 767px) {
		.thumbnail {
			width: 100%;
		}
		header nav {
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 10px;
			margin-left: 0px;
			width: 100%;
			background: #262626;
		}
		header nav ul {
			padding: 0px;
			float: none;
		}
		header nav ul li {
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			width: 100%;
			text-align: center;
			padding-top: 0px;
			padding-bottom: 0px;
		}
		header h4 {
			width: 100%;
			margin-left: 0px;
		}
}

/* ----------------------------- Small Desktops ----------------------------- */
	@media (min-width: 768px) and (max-width: 1096px) {
		.thumbnail {
			width: 100%;
		}
}